ul {
	list-style-type: none;
 -webkit-padding-start: 0 ;
 -webkit-margin-after: 0;
 padding:0px;
}
ul li {
	display: inline; 
	float: left ; 
	/*padding-left: 2px; */
	}
li>button>span 
{
	/*padding:8px 5px;*/
	padding:1px;
}	
.filmessage
{
	margin-top: .5rem;
	margin-left: 1rem;
}
