<div>
	<app-title  title="Tamper Detection"></app-title>
	<div class="tab-help">
		<div class="table_helper">
			<app-table-helper (ShowSearch)="showSearchPanel = !showSearchPanel" [ShowChartIcon]="showChartIcon" [ShowExportIcon]="showExportIcon"></app-table-helper>
		</div>
	</div>

	<div *ngIf="showSearchPanel" class="row col-sm-12 col-md-12 mytable1 searchPanel" style="display: inline-flex;">
		<div *ngIf="divisions != undefined" class="col-sm-12 col-md-6 col-lg-6">
			<label> Division  </label>
			<select [(ngModel)]="selectedDivision" (change)="getSubItems(1, $event)">
				<option *ngFor="let item of divisions" [value]="item.organizationid">{{item.organizationname}}</option>
			</select>
		</div>		

		<div *ngIf="subDivisions != undefined" class="col-sm-12 col-md-6 col-lg-6">
			<label> Sub Division  </label>
			<select [(ngModel)]="selectedSubDivision" (change)="getSubItems(2, $event)">
				<option *ngFor="let item of subDivisions" [value]="item.organizationid">{{item.organizationname}}</option>
			</select>
		</div>	

		<div *ngIf="serviceStations != undefined" class="col-sm-12 col-md-6 col-lg-6">
			<label> Service Station  </label>
			<select [(ngModel)]="selectedServiceStation" (change)="getSubItems(3, $event)">
				<option *ngFor="let item of serviceStations" [value]="item.organizationid">{{item.organizationname}}</option>
			</select>
		</div>

		<div *ngIf="locations != undefined" class="col-sm-12 col-md-6 col-lg-6">
			<label> Location  </label>
			<select [(ngModel)]="selectedLocation" (change)="getSubItems(4, $event)">
				<option *ngFor="let item of locations" [value]="item.organizationid">{{item.organizationname}}</option>
			</select>
		</div>	

		<div *ngIf="units != undefined" class="col-sm-12 col-md-6 col-lg-6">
			<label> Unit  </label>
			<select [(ngModel)]="selectedUnit" >
				<option *ngFor="let item of units" [value]="item.value">{{item.key}}</option>
			</select>
		</div>	

		<div class="actionBar">
			<button (click)="search()" class="btn btn-primary" >Search</button>
			<button (click)="showSearchPanel=false;" class="btn btn-primary">Hide</button> 
		</div>
	</div>


	<div>
		<div>
			<div *ngIf="tamperdata != undefined && tamperdata.length > 0">
				<table class="table table-hover table-responsive col-md-12 mytable">
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Status</th>
					<th>Division</th>
					<th>SubDivision</th>
					<th>Station</th>
					<th>Location</th>
		
				</tr>
				<tr *ngFor="let rdata of tamperdata">
					<td> {{rdata.unitid}}</td>
					<td> {{rdata.date |date :'dd-MM-yyyy'}}</td>
					<td> {{rdata.tamperstatus}}</td>
					<td> {{rdata.division}}</td>
					<td> {{rdata.subDivision}}</td>
					<td> {{rdata.servicestation}}</td>
					<td> {{rdata.location}}</td>
					
				</tr>
			</table>
			<app-pagination [totalPages]="totalpages" (pageChange)="pageChanged($event)" >
			</app-pagination>	
			</div>
		</div>
		<div *ngIf="tamperdata == undefined || tamperdata.length == 0">
			No Data Found.
		</div>

	</div>
</div>