
<!-- <div class="modal fade">
  <div class="modal-dialog" role="document">
 -->    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="ActiveModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<table  >
      		<tr>
      			<td>Location</td>
      			<td>
      				<select  [(ngModel)]="userSelected.OrganizationId" (change)="locationchange($event)"> 
      					<option *ngFor="let organization of search.Organization" value="{{organization.key}}" >{{organization.value}}</option>
      				</select>
      			</td>
      		</tr>
<!-- 
      		<tr>
      			<td>RR Number</td>
      			<td>
      				<select  [(ngModel)]="userSelected.RRNumber"> 
      					<option *ngFor="let rrnumber of search.RRNumbers" value="{{rrnumber.key}}">{{rrnumber.value}}</option>
      				</select>
      			</td>
      		</tr> -->

<!--       		<tr>
      			<td>OEM Name</td>
      			<td>
      				<select [(ngModel)]="userSelected.OEM"> 
      					<option *ngFor="let oem of search.OEM" value="{{oem.code}}">{{oem.description}}</option>
      				</select>
      			</td>
      		</tr> -->

      		<tr>
      			<td>Date </td>
      			<td>
      			<input type="Date" [(ngModel)]="userSelected.Date"/>
      			</td>
      		</tr>

      	</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">Apply </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ActiveModal.close('Close click')">Close</button>
      </div>
    </div>
<!--   </div>
</div>
 -->