<!-- <div id="background-carousel">
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="/assets/login/download1.jpg" alt="Random first slide" class="im"  >
    <div class="carousel-caption">
      <h3>AMR</h3>
      <p>Water Automatic Meter Reader</p>
    </div>
  </ng-template>
 <ng-template ngbSlide>
    <img src="/assets/login/download2.jpg" alt="Random second slide"  class="im">
    <div class="carousel-caption">
      <h3>GSM based technology</h3>
      <p>WATER AMR</p>
    </div>
  </ng-template> 
  <ng-template ngbSlide>
    <img src="/assets/login/download3.jpg" class="im">
    <div class="carousel-caption">
      <h3>Save Water Save Earth</h3>
      <p>Water AMR </p>
    </div>
  </ng-template>
</ngb-carousel>
</div> -->
<form #loginform="ngForm">
<div style="width:100%" class="bucket">
  <div style="width: 50% " class="bucket1">
    <div class="leftpanel">
        <table style="width:100%">
          <tr>
            <td>
              <img src ='./assets/lpage.jpeg' class="limg"/>

            </td>
            <td>
              <ul>
          <li> AMR Meter Data Capture</li>
          <li> Revenue Management for Water Utilities</li>
          <li>Management Information System </li>
          <li> Real Time Data Analysis</li>
          <li>Interfacing with OEMs </li>

        </ul>


            </td>
          </tr>
        </table>
</div>

  </div>
  <div style="width: 50% " class="bucket1">
    <div class="card" *ngIf="!loggedIn">
          <table>
            <tr>
              <td>
                  <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-user"></span> </span>
            <input type="text"  [(ngModel)]="username" name="name" #name="ngModel" placeholder="User Name" required="" />
            
          </div>
              </td>
              </tr>
            <tr>
              <td>
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger" style="width:100%"> Name Required</div> 
              </td>

            </tr>
            <tr><td>
          <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-lock"></span> </span>
            <input type="password" [(ngModel)]="password" name="pwd" #pwd="ngModel" placeholder="Password" required />
          </div>
              
            </td></tr>
                <tr><td>
            <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)" class="alert alert-danger" style="width:100%"> Password Required</div>
              
            </td></tr>


          </table>

          <div>
            <button (click)="login()" [disabled]="(!loginform.form.valid || disableLogin)" class="btn btn-primary">Login</button>
          </div>
          <div *ngIf="message != undefined && message.length >0 " class="alert alert-danger">{{message}}</div>
        </div>
  </div>

</div>


<div class="card" *ngIf = "loggedIn" >
  <p> You are already logged in </p>
 <p> Click here to <a href="" (click)="logout()" >logout </a> and re-login </p>
</div>

</form>