<div>
	<app-title  title="Total Revenue"></app-title>
	<div class="tab-help">
		<div class="table_helper">
			<app-table-helper (ShowSearch)="showSearch()" [ShowChartIcon]="showChartIcon" [ShowExportIcon]="showExportIcon" (ShowExport)="showExport($event)"></app-table-helper>
		</div>
	</div>

	<div [hidden]="!showSearchPanel" class="searchPanel" style="display: flex; flex-wrap: wrap; ">

		<div *ngIf="rinput.divisions != undefined">
			<label> Division  </label>
			<select [(ngModel)]="rinput.divisionId">
				<option *ngFor="let item of rinput.divisions" [value]="item.key">{{item.value}}</option>
			</select>
		</div>
		<label> From Date  </label> <input type="Date" [(ngModel)]="rinput.fromDate">
		<label> To Date  </label> <input type="Date" [(ngModel)]="rinput.toDate">
		<div class="actionBar">
			<button class="btn btn-primary" (click)="searchClicked()"> Apply Filter</button>
			<button  class="btn btn-secondary" (click)= "hidePanel()"> Cancel </button>
		</div>
	</div>
	<div *ngIf="revenueData== undefined || revenueData.length == 0">
		No Data found
	</div>
	<div *ngIf="revenueData != undefined && revenueData.length > 0">
		<label>Total Revenue : {{totalRevenue}}</label>
		<table class="table table-hover table-responsive col-md-12 mytable">
			<tr>
				<th style="width: 15%">Division</th>
				<th style="width: 15%">SubDivision</th>
				<th style="width: 10%">RR Number</th>
				<th style="width: 10%">Total Consumption</th>
				<th style="width: 10%">Revenue Generated</th>
				<th style="width: 20%">Consumer Name</th>
				<th style="width: 10%">OEM</th>
				<th style="width: 10%">Unit</th>
	
			</tr>
			<tr *ngFor="let rdata of revenueData">
				<td> {{rdata.division}}</td>
				<td> {{rdata.subDivision}}</td>
				<td> {{rdata.rRnumber}}</td>
				<td> {{rdata.totalConsumption}}</td>
				<td> {{rdata.revenue}}</td>
				<td> {{rdata.name}}</td>
				<td> {{rdata.oem}}</td>
				<td> {{rdata.unit}}</td>
			</tr>
		</table>
		<app-pagination [totalPages]="totalpages" (pageChange)="pageChanged($event)" >
		</app-pagination>
	</div>

</div>