
<app-title  title="Historical Data"></app-title>
<div>
	
	<div *ngIf="historyItems != undefined && historyItems.length > 0">

		<div style="display:inline-flex;">
				<button (click)="back()" style="margin-right:.3rem;"> &lt; </button>
			<div class="tab-help">
				<div class="table_helper">
					<app-table-helper [ShowSearchIcon]="false" (ShowGraph)="showGraph()" (ShowExport)="showExport($event)" [ShowChartIcon]="showgraph" [filterText]="filterText"></app-table-helper>
				</div>
			</div>
		</div>

		<div>
			<div *ngIf="showgraph" style="display:inline-flex;width:100%; min-height: 200px">
<!-- 				<app-realtime-graph [Cumalative]="graphdata.cumalative" [DayConsumption]="graphdata.dayConsumption" [charttype]="graphtype"></app-realtime-graph> -->
				<div class="col-md-6 col-sm-12">
				<app-chart [data]="graphdata.cumalative" [chartType]="graphtype" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></app-chart>
				</div>
				<div class="col-md-6 col-sm-12">
				<app-chart [data]="graphdata.DayConsumption" [chartType]="graphtype" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></app-chart>
				</div>
			</div>
			<div *ngIf="!showgraph">
			<table  class="table table-responsive col-md-12 col-lg-12 mytable" style="width:100%">
				<thead>
					<tr>
						<th style="width:20%">OEM Name </th>
						<th style="width:7.5%">Date </th>
						<th style="width:7.5%">Time </th>
						<th style="width:15%">Consumption </th>
						<th style="width:15%">Pulse Count </th>
						<th style="width:10%">Battery voltage</th>
						<th style="width:10%">Tamper Status </th>
						<th style="width:15%">Unit Id</th>
					</tr></thead>
					<tr *ngFor="let item of historyItems">
						<td> {{item.oemName}} </td>
						<td> {{item.date | date:'dd-MM-yyyy'}} </td>
						<td> {{item.time }} </td>
						<td> {{item.consumptionInMCube}} </td>
						<td> {{item.pulseCount}} </td>
						<td> {{item.batteryVoltage}} </td>
						<td> {{item.tamperStatus}} </td>
						<td> {{item.unitId}} </td>
					</tr>
				</table>
				<app-pagination [totalPages]="totalpages" (pageChange)="pageChanged($event)" >
				</app-pagination>
				</div>
		</div>
	</div>
	<div *ngIf="(historyItems == undefined || historyItems.length == 0)">
		No Data found!
	</div>

</div>