.permissionPanel
{
	width:50%;
	border:1px solid gray;
	border-radius: 5px;
	padding :10px;
}
.permissionPanel img {
	height: 22.5px;
	width: 25px;
}
.permissionPanel ul {
	list-style-type: none;
-webkit-padding-start: 0;
-webkit-margin-after: 0;
padding:0px;
}
.permissionPanel > span :first-child 
{
	position: relative ;
	top:-1.5rem;
	background: white;

}
.permissionTitle {
	width:100%;
}
.ulmenu {list-style-type:none;}
ul  {list-style-type:none;}