<app-title  title="Payment Authentication"></app-title>
<div>
	<input type="date" [(ngModel)]="selectedDate"> 
	<button class="btn btn-primary" (click)="getData()"> Select</button>
	<div>
		<div *ngIf="data!= undefined && data !=null && data.authenticationData != null && data.authenticationData.length >0 ">

			<table class="table mytable">
				<tr> 
				<th> Id </th>
					<th> Bill No. </th>
					<th> Month Year </th>
					<th> Consumption </th>
					<th> Amount Paid </th>	
					<th> Mode of Pay</th>	
					<th> </th>
				</tr>
				<tr *ngFor="let r of data.authenticationData">
					<td> {{r.payment.id}} </td>
					<td> {{r.payment.billNo}} </td>
					<td> {{r.bill.monthYear}}</td>
					<td> {{r.bill.consumption}} </td>
					<td> {{r.payment.amount}} </td>			
					<td> {{r.payment.modeOfPay}} </td>	
					<td> {{r.payment.bankName}} </td>	
				</tr>
			</table>
			<div style="position: relative; margin:2rem; " >
			Total Amount : {{data.totalAmount}}
			<button class="btn btn-primary" (click)="authenticate()" [disabled]="authenticated">Authenticate</button>
			</div>

		</div>
		<div *ngIf="data== undefined || data == null ||  data.authenticationData == null">
			No Data found.
		</div>
	</div>
</div>