table{ width:100%; }
.rowitem{border:1px solid gray; padding: 2px;border-radius:5px;}
.item {border:1px solid lightgray; border-radius: 4px;}
.lbl {font-weight: bold; }

ul {
	background-color: white;
}
.btnfirst {
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
}
.btnlast {
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}
.nr {
	color: red;
}
.lbl {width: 50%;}
.rec {width:50%;}