<app-title  title="Realtime Data "></app-title>
<div>{{message}}</div>
<!--<div *ngIf="realtimeData"> -->
<!-- <template #searchwindow let-c="close" let-d="dismiss">
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<table>
      		<tr>
      			<td>Location</td>
      			<td>
     
      			</td>
      		</tr>
      		</table>
        <input type="text" [(ngModel)]= "inp.criteria"/>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="search()">Apply </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">Close</button>
      </div>
	</div>
 </template> -->
 <div  style="display:inline-flex; ">
	 <div style="display:flex; padding-right: 1rem">
	 	<button (click)="moveto(-1)" class="btnfirst">&lt;</button>
			<div style="padding-top: .5rem;background-color:#eceeef"> {{realtimeSearch.initial.Date | date :'dd-MM-yyyy'}} </div>
			<button (click)="moveto(1)" [disabled]="!enableNext" class="btnlast" >&gt;</button>
	</div>
	<div class="tab-help">
		<div class="table_helper">
			<app-table-helper (ShowSearch)="showSearch()" (ShowGraph)="showGraph($event)" (ShowExport)="showExport($event)" [ShowChartIcon]="showChartIcon" [filterText]="filterText"></app-table-helper>
		</div>
	</div>
</div>
<div *ngIf="showgraph" >
	<div class="container row" style="display:flex; flex-wrap: wrap;">
		<div class="col-sm-12 col-md-12 col-lg-12" style="height:400px">
			<select [(ngModel)]="graphtype">
				<option value="verticalbar">Bar</option>
					<option value="line">Line</option>
					<option value="area">Area</option>
					<option value="pie">Pie</option>
				</select>
			<app-chart [data]="graphdata.cumalative" [chartType]="graphtype" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" ></app-chart>
		</div>
<!-- 		<div class="col-sm-12 col-md-6 col-lg-6">
			<select [(ngModel)]="graphtype2">
				<option value="verticalbar">Bar</option>
					<option value="line">Line</option>
					<option value="area">Area</option>
					<option value="pie">Pie</option>
				</select>
			<app-chart [data]="graphdata.dayConsumption" [chartType]="graphtype2" [xAxisLabel]="g2xAxisLabel" [yAxisLabel]="g2yAxisLabel"></app-chart>
		</div> -->
	</div>
</div>

<div *ngIf="!showgraph">
	<div *ngIf="realtimeData== undefined || realtimeData.length == 0">
		No Data found
	</div>
	<div *ngIf="realtimeData != undefined && realtimeData.length > 0">
		<div class="hidden-sm-down">
			<table class="table table-hover table-responsive  mytable">
<!-- 			<tr>
				<th>Location</th>
				<th>RR No.</th>
				<th>Serial No.</th>
				<th>Consumer</th>
				<th>Consumption</th>
				<th>Day Consumption </th>
				<th>Average Consumption</th>
				<th>Division</th>
				<th>Sub Division </th>
				<th>OEM </th>
				<th>Bore Size</th>
				<th>Battery voltage</th>
				<th>id</th>
			</tr> -->
		  <tr>
			  <th style="width:10%"> <div class="sort" (click)="sort('division')" >  Division </div> </th>
	 	  	  <th style="width:10%"> <div class="sort" (click)="sort('subdivision')"> Sub Division </div> </th>	
			  <th style="width:15%">Location</th>
			  <th style="width:10%">Consumer Name</th>
			  <th style="width:10%">Today's Consumption</th>
			  <th style="width:10%">Previous Day Consumption </th>
			  <!-- <th style="width:8%">Average Consumption</th> -->
			<th style="width:5%">Received At </th>
	 	  	  <th style="width:15%">OEM </th>
	 	  	  <th style="width:5%">Bore Size</th>	
	 	  	  <th style="width:5%">Battery voltage</th>
	 	  	  <th style="width:10%"><div class="sort" (click)="sort('unitid')" >  Unit Id </div></th>
 	  	  </tr>

		<tr *ngFor="let item of realtimeData" [class.nr]="item.notReceivedToday">
				<td> {{item.division}}</td>
				<td> {{item.subDivision}}</td>
				<td> {{item.location}}</td>
				<td> {{item.name}}</td>
				<td style="text-align: left;"> {{ isNotNumeric( item.consumptionInMCube) ? item.consumptionInMCube : (item.consumptionInMCube | number :"1.2-2" )   }}</td>
				<td> {{ isNotNumeric ( item.dayConsumption) ? item.dayConsumption : (item.dayConsumption | number :"1.2-2" )   }} </td>
				<!-- <td style="text-align: right;"> {{item.averageConsumption | number :"1.2-2"}}</td> -->
				<td *ngIf="item.notReceivedToday"> </td>
				<td *ngIf="!item.notReceivedToday"> {{item.addedAt | date : 'HH:mm'}}</td>
				<td> {{item.oemName}}</td>
				<td> {{item.pipeSize}}</td>
				<td> {{item.batteryVoltage}}</td>
				<td> <a (click) = "getHistory (item.id)" style="color:#0275d8"> {{item.unitid}} </a> </td>

<!-- 				<td> <a [routerLink]="['/realtime/history',item.id]"> {{item.unitid}} </a> </td>
 -->			</tr>
			</table>
		</div>
		<div class="hidden-md-up">
			<div class="col-xs-12">
			<ul class="table_ul">
			<li  *ngFor="let item of realtimeData" class="rowitem">
				<div>
					<span class="item"><span class="lbl">Location</span> <span class="rec"> {{item.location}}</span></span>
					<span class="item"><span class="lbl"></span> <span class="rec">{{item.division}}</span></span>
					<span class="item"><span class="lbl"></span> <span class="rec">{{item.division}}</span></span>
				</div>

				<div>
					<span class="item"><span class="lbl">Consumption</span> <span class="rec"> {{item.consumptionInMCube}}</span></span>
					<span class="item"><span class="lbl">Day</span> <span class="rec">{{item.dayConsumption}}</span></span>
					<span class="item"><span class="lbl">Consumer</span> <span class="rec">{{item.name}}</span></span>

				</div>
				<div>
					<span class="item"><span class="lbl">Pipe size</span> <span class="rec"> {{item.pipeSize}}</span></span>
					<span class="item"><span class="lbl">Volt</span> <span class="rec">{{item.batteryVoltage}}</span></span>
					<span class="item"><span class="lbl">Unit Id</span> <span class="rec">
						<a (click) = "getHistory (item.id)"> {{item.unitid}} </a> </span>
						</span>
				</div>
			</li>
			</ul>
			</div>
	</div>
</div>
<app-pagination [totalPages]="totalpages" (pageChange)="pageChanged($event)" >
</app-pagination>

</div>
<!--</div> -->