.detailPanel
{
	border:1px solid gray;
	border-radius: 10px;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
}
.detailItem 
{
	/*border-bottom: 1px solid lightgray;*/
	padding:0px 5px 0px 5px;
	
}
.detailItem > select {
  width:48%
}
.detailItem > ul {list-style-type: none;
 -webkit-padding-start: 0;
-webkit-margin-after: 0;
padding:0px;}
.detailItem > ul >li {display: inline; }
.detailItem >label {max-width: 50%; width:50%;
}
.req 
{
	color: red;
}
.newPanel
{
	margin:10px 0px 10px 0px;
}


.tabs {
  position: relative;   
  min-height: 340px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
 
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 14px;
  background: white;
/*  right: 0;
  bottom: 0;*/
  width:100%;
  display: none;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  display: flex;
}


/*
@media screen and (max-width: 540px)
{
	.detailItem {width:80%;}
}
@media screen and (max-width: 720px)
{
	.detailItem {width:80%;}
}
@media screen and (max-width: 960px)
{
	.detailItem {width:30%;}
}
@media screen and (max-width: 1140px)
{
	.detailItem {width:25%;}
}*/