<app-title  title="View Bill"></app-title>
<div class="tab-help">
	<div class="table_helper">
		<app-table-helper (ShowSearch)="showSearch()" [ShowChartIcon]="showChartIcon" [ShowExportIcon]="showExportIcon"></app-table-helper>
	</div>
</div>

<div  [hidden]="!showSearchPanel" class="searchPanel">
	<div>
		<span>Month</span>
		<select [(ngModel)]="selMonth">
			<option *ngFor="let item of months; let idx=index " [value]="idx+1">{{item}}</option>
		</select>
		<span>Year</span>
		<input type="number" [(ngModel)]="selYear" />
	</div>
	<div style="display:inline-flex;" class="col-sm-12 col-md-12 mytable1">

		<div *ngIf="divisions != undefined">
		<label> Division  </label>
		<select [(ngModel)]="selectedDivision" (change)="placeChange($event, 2)">
			<option value="">--All-- </option>
			<option *ngFor="let item of divisions" [value]="item.key">{{item.value}}</option>
		</select>
		</div>
		<div *ngIf="subDivisions != undefined">
		<label> Sub Division  </label>
		<select [(ngModel)]="selectedSubDivision" ><!-- (change)="placeChange($event, 4)"> -->
			<option value="">--All-- </option>
			<option *ngFor="let item of subDivisions" [value]="item.key">{{item.value}}</option>
		</select>
		</div>

<!-- 		<div *ngIf="servicesList != undefined">
		<label> Service Station  </label>
		<select [(ngModel)]="selectedService" (change)="placeChange($event, 3)">
			<option value="">--All-- </option>
			<option *ngFor="let item of servicesList" [value]="item.key">{{item.value}}</option>
		</select>
		</div>

		<div *ngIf="locationsList != undefined">
		<label> Location </label>
		<select [(ngModel)]="selectedLocation" >
			<option value="">--All-- </option>
			<option *ngFor="let item of locationsList" [value]="item.key">{{item.value}}</option>
		</select>
		</div> -->



<!-- 
		<div *ngIf="consumerList != undefined">
		<label> Consumer </label>
		<select [(ngModel)]="selectedConsumer" (change)="locationChange($event)">
			<option *ngFor="let item of consumerList" [value]="item.key">{{item.value}}</option>
		</select>
		</div>
 -->	</div>
	<button class="btn btn-primary" (click)="applyFilter()"> View Bill </button>
</div>

<div>
	<div *ngIf="billdetails != undefined && billdetails.length > 0">
		<table class=" table-responsive col-md-12">
			<tr *ngFor="let bd of billdetails">
			<td style="padding-bottom: 1rem;">
				<app-billdetail [data]=bd> </app-billdetail>
			</td>

			</tr>
		</table>
		<app-pagination [totalPages]="totalpages" (pageChange)="pageChanged($event)" >
		</app-pagination>
	</div>
	<div *ngIf="billdetails == undefined || billdetails.length == 0">
		
		No Data Found.
	</div>
</div>

